html {
  height: 100%;
  font-family: 'Montserrat';
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  --bg: #fcfcfc;
  --bg-gear: #333333;
  --bg-panel: #ebebeb;
  --bg-lax: #0077ff;
  --color-headings: #0077ff;
  --color-text: #333333;
}

html[data-theme='dark'] {
  --bg: #333333;
  --bg-gear: white;
  --bg-panel: #434343;
  --bg-lax:rgb(4, 50, 61);
  --color-headings: #3694ff;
  --color-text: #B5b5b5;
}

body {
  background-color: var(--bg);
}

section:nth-of-type(1) .gear {
  position: absolute;
  top: 30%;
  width: 200px;
  height: 200px;
  margin: auto;
  background-color: var(--bg-gear);
  border-radius: 50%;
}

section:nth-of-type(1) .gear .center {
  position: absolute;
  top: 50px;
  left: 50px;
  z-index: 10;
  width: 100px;
  height: 100px;
  background-color: var(--bg);
  border-radius: 50%;
}

section:nth-of-type(1) .tooth {
  position: absolute;
  top: -25px;
  left: 75px;
  z-index: 1;
  width: 45px;
  height: 250px;
  background-color: var(--bg-gear);
}

section:nth-of-type(1) .tooth:nth-child(2) {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

section:nth-of-type(1) .tooth:nth-child(3) {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

section:nth-of-type(1) .tooth:nth-child(4) {
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}

section:nth-of-type(1) #gear1 {
  left: 2%;
}

section:nth-of-type(1) #gear2 {
  right: 2%;
}

.container {
  background-color: var(--bg-panel);
  margin: 10% auto;
  padding: 5em;
  border-radius: 15px;
  width: 30%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 80% auto;
      grid-template-columns: 80% auto;
  -ms-grid-rows: auto auto;
      grid-template-rows: auto auto;
      grid-template-areas: "title switch" "content content";
}

.container h1 {
  margin: 0;
  color: var(--color-headings);
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: title;
  text-align: center;
}

.container p {
  color: var(--color-text);
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: content;
  font-size: 1.1em;
  line-height: 1.8em;
  margin-top: 2em;
  text-align: center;
}

.container .fa-arrow-circle-down {
  color: var(--color-text);
  font-size: 200%;
  margin-top: 5%;
}

input[type=checkbox] {
  height: 0;
  width: 0;
  visibility: hidden;
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: switch;
}

label {
  cursor: pointer;
  text-indent: -9999px;
  width: 52px;
  height: 27px;
  background: grey;
  float: right;
  border-radius: 100px;
  position: relative;
}

label:after {
  content: '';
  position: absolute;
  top: 3px;
  left: 3px;
  width: 20px;
  height: 20px;
  background: #fff;
  border-radius: 90px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

input:checked + label {
  background: var(--color-headings);
}

input:checked + label:after {
  left: calc(100% - 5px);
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}

label:active:after {
  width: 45px;
}

#lax {
  color: white;
  background-color: var(--bg-lax);
  height: calc(100vh - 10em);
  width: 100vw;
  text-align: center;
  position: relative;
}

#lax h1 {
  font-size: 800%;
}

html.transition,
html.transition *,
html.transition *:before,
html.transition *:after {
  -webkit-transition: all 750ms !important;
  transition: all 750ms !important;
  -webkit-transition-delay: 0 !important;
          transition-delay: 0 !important;
}
/*# sourceMappingURL=main.css.map */